body {
    margin: 0px;
}

.main-container {
    background-color: #90e7c9;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    background-color: #0d2436;
}

.website-heading {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.items {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.item {
    margin: 10px;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: lighter;
    color: white;
}

.hotel-booking-container {
    background-color: white;
    border-radius: 10px;
    border-width: 0px;
    padding: 25px;
    margin-bottom: 25px;
    width: 70vw;
}

.form { 
    display: flex; 
    flex-direction: column;
    margin-top: 20px;
}

.label { 
    margin-bottom: 10px;
}

.input { 
    padding: 5px;
    margin-bottom: 10px;
}

.select {
    padding: 5px;
    margin-bottom: 10px;
}

.submit { 
    padding: 10px; 
    width: 70vw;
    background-color: #333; 
    color: #fff; 
    border: none; 
    cursor: pointer;
}